<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.catking.gkapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quiz.month_quiz"></activity>
        <activity android:name=".quiz.TF_month_quiz"/>
        <activity android:name=".buy_gk_course" />
        <activity android:name=".menuItems.miCat_sa" />
        <activity android:name=".activity_coming_soon" />
        <activity
            android:name=".Entry_To_CATKing"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view_Geography" />
        <activity android:name=".view_History" />
        <activity android:name=".view_doc_activity" />
        <activity android:name=".test1" />
        <activity android:name=".test2" />
        <activity android:name=".test3" />
        <activity android:name=".test4" />
        <activity android:name=".view_Sport_Achievement" />
        <activity android:name=".view_Science" />
        <activity android:name=".view_BooksAndAuthor" />
        <activity android:name=".view_Olympics" />
        <activity android:name=".view_ArtAndCulture" />
        <activity android:name=".view_Economics" />
        <activity android:name=".view_Politics" />
        <activity android:name=".view_ConstitutionOfIndia" />
        <activity android:name=".view_Miscellaneous" />
        <activity android:name=".view_FunFacts" />
        <activity android:name=".view_DynamicGK" />
        <activity android:name=".Login_Mobile" />
        <activity android:name=".quiz.QuizList" />
        <activity android:name=".quiz.TF_QuizList" />
        <activity android:name=".quiz.micat.MICAT_tfList" />
        <activity android:name=".quiz.micat.MICAT_mcqList" />
        <activity android:name=".Splash_Screen_otp" />
        <activity android:name=".Login_otp" />
        <activity android:name=".quiz.newMCQ" />
        <activity android:name=".quiz.new_TF" />
        <activity android:name=".t_and_c" />
        <activity android:name=".List_view_quiz_selection" />
        <activity android:name=".splash_loadquiz" />
        <activity android:name=".spalsh_screen" />
        <activity android:name=".menuItems.cmat_sa" />
        <activity android:name=".menuItems.ibps_clerk_sa" />
        <activity android:name=".menuItems.ibps_po_sa" />
        <activity android:name=".menuItems.iift_sa" />
        <activity android:name=".menuItems.mat_sa" />
        <activity android:name=".menuItems.rbi_gbo_sa" />
        <activity android:name=".menuItems.rbi_oa_sa" />
        <activity android:name=".menuItems.rrb_oa_sa" />
        <activity android:name=".menuItems.rrb_os_sa" />
        <activity android:name=".menuItems.sbi_clerk_sa" />
        <activity android:name=".menuItems.sbi_po_sa" />
        <activity android:name=".menuItems.snap_sa" />
        <activity android:name=".menuItems.staticGK_sa" />
        <activity android:name=".menuItems.xat_sa" />
        <activity android:name=".quiz.CMAT.CMAT_tfList" />
        <activity android:name=".quiz.CMAT.CMAT_mcqList" />
        <activity android:name=".quiz.IBPS_PO.IBPS_po_tfList" />
        <activity android:name=".quiz.IBPS_PO.IBPS_po_mcqList" />
        <activity android:name=".quiz.IBPS_Clerk.IBPS_c_mcqList" />
        <activity android:name=".quiz.IBPS_Clerk.IBPS_c_tfList" />
        <activity android:name=".quiz.IIFT.IIFT_mcqList" />
        <activity android:name=".quiz.IIFT.IIFT_tfList" />
        <activity android:name=".quiz.MAT.MAT_tfList" />
        <activity android:name=".quiz.MAT.MAT_mcqList" />
        <activity android:name=".quiz.RBI_GBO.RBI_GBO_mcqList" />
        <activity android:name=".quiz.RBI_GBO.RBI_GBO_tfList" />
        <activity android:name=".quiz.RBI_OA.RBI_OA_mcqList" />
        <activity android:name=".quiz.RBI_OA.RBI_OA_tfList" />
        <activity android:name=".quiz.RRB_OS.RRB_OS_mcqList" />
        <activity android:name=".quiz.RRB_OS.RRB_OS_tfList" />
        <activity android:name=".quiz.RRB_OA.RRB_OA_mcqList" />
        <activity android:name=".quiz.RRB_OA.RRB_OA_tfList" />
        <activity android:name=".quiz.SBI_Clerk.SBI_Clerk_mcqList" />
        <activity android:name=".quiz.SBI_Clerk.SBI_Clerk_tfList" />
        <activity android:name=".quiz.SBI_PO.SBI_PO_mcqList" />
        <activity android:name=".quiz.SBI_PO.SBI_PO_tfList" />
        <activity android:name=".quiz.SNAP.SNAP_mcqList" />
        <activity android:name=".quiz.SNAP.SNAP_tfList" />
        <activity android:name=".quiz.StaticGK.StaticGK_mcqList" />
        <activity android:name=".quiz.StaticGK.StaticGK_tfList" />
        <activity android:name=".quiz.XAT.XAT_mcqList" />
        <activity android:name=".quiz.XAT.XAT_tfList" />
    </application>

</manifest>